[submodule "vendor/normalize.css"]
	path = vendor/normalize.css
	url = https://github.com/necolas/normalize.css.git
[submodule "vendor/c3"]
	path = vendor/c3
	url = https://github.com/masayuki0812/c3.git
