@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|EB+Garamond);

/*
== COLORS ==
introduction blue-normal: rgb(55,117,140)
gap-overview red-normal: rgb(167,62,63)
gap-overview red-light: #BF6D70
bachalor-degrees yellow-normal: rgb(199,165,28)
bachalor-degrees yellow-light: #DAC476
sub-baccalaureate green-dark: rgb(159,167,107)
sub-baccalaureate green-light: #B6BD94
conclusion grey-normal: rgb(110,110,112)
conclusion orange-normal: rgba(182,89,30)
*/

/*
== FONTS ==
font-family: 'Montserrat', sans-serif;
font-family: 'EB Garamond', serif;
*/

h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}

em{
  font-style: normal;
}

html{
  font-size: 1vw;
  background-color: #DEDEDE;
  font-family: 'EB Garamond', serif;
}

p{
  font-family: 'EB Garamond', serif;
  color:rgb(110,110,112);
  font-size: 120%;
  padding: 1% 4% 1% 4%;
}

section.slide{
  position: relative;
  width: 70vw;
  height: 52.5vw;
  background-color: white;
  margin: 3rem auto;
  overflow: hidden;
  border: 1px solid rgb(173, 173, 173);
}

section h2{
  margin-top: 0;
  font-size: 1rem;
  padding: .6rem;
  color: white;
}

section hr {
  border-color: rgb(110,110,112);
  border-width: .15em;
  border-style: solid;
  width: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.view-more{
  width: 100%;
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;
  color: rgb(110,110,112);
  margin: auto auto;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 2rem;
}

.view-more::after{
  /* Empty content, but required for pseudo element to display */
  content: "";
  display: block;
  margin: auto;

  /* Size of star within sprite */
  width: 30px !important;
  height: 40px  !important;
  margin-top: .8rem;

  /* Sprite */
  background: url('../img/down_arrow_sprite.png') -30px 0px no-repeat;
}

/* == GENERAL CHART SPECIFIC TYLING == */
.c3-chart{
 font-family: 'Montserrat', sans-serif;
}

.c3-tooltip{
  font-family: 'Montserrat', sans-serif;
}

.c3-axis-y-label{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .3rem;
}

.c3-area {
    opacity:.9;
}

/* -- Cover -- */

#cover{
  background-color: rgb(55,117,140);
  background-image: url('../img/cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 2rem solid rgb(167,62,63);
}

#cover h2{
  font-size: 2.45rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
  margin-top: 16%;
}

#cover h3{
  color:white;
  width: 50%;
  font-size: 1.4rem;
  margin: auto auto;
  text-align: center;
}

#cover p{
  border-top: .2rem solid white;
  font-family: 'Montserrat', sans-serif;
  width: 33%;
  padding-top: 1.5rem;
  margin: 1.5rem auto;
  text-align: justify;
  color: white;
}

#cover .view-more {
  color: white;
}

/* -- TOC -- */
#table-of-contents{
  font-family: 'Montserrat', sans-serif;
}

#table-of-contents ol{
  list-style: none;
  margin:0;
  padding: 0;
  color: white;
}

#table-of-contents > ol > li > ol > li{ /*needs to be done better*/
  padding: .2rem;
}

#table-of-contents ol.introduction li, section.introduction h2{
  background-color: rgb(55,117,140);
}

#table-of-contents ol.degree-gap li, section.degree-gap h2{
  background-color: rgb(167,62,63);
}

#table-of-contents ol.bachelors-degrees li, section.bachelors-degrees h2{
  background-color: rgb(199,165,28);
}

#table-of-contents ol.sub-baccalaureate li, section.sub-baccalaureate h2{
  background-color: rgb(159,167,107);
}

#table-of-contents ol.conclusion li, section.conclusion h2{
  background-color: rgb(110,110,112);
}

/* -- CLEAN UP -- */

section.bachelors-degrees h3{
  color: rgb(199,165,28);
}

section.sub-baccalaureate h3{
  color: rgb(159,167,107);
}

/* -- SLDIE 1 - INTRODUCTION -- */

section.introduction {
  /* TODO: */
  /*background-image: url();*/
}

section.introduction h3{
  color: rgb(55,117,140);
  text-align: center;
  font-size: 250%;
  width: 60%;
  margin: auto auto;
  padding-top: 10%;
}

section.introduction h3 em{
  color: rgb(199,165,28);
}

section.introduction p{
  width: 60%;
  font-size: 150%;
  text-align: justify;
  margin: 0 auto 0 auto;
}

section.introduction hr {
  border-color: rgb(55,117,140);
}

/* -- SLIDE 2 -- */

#slide-2-degree-gap-overview h3{
  color: rgb(167,62,63);
  text-align: center;
  font-size: 220%;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

#demographic-chart{
  float: right;
  font-family: 'Montserrat', sans-serif;
  width: 65%;
  margin: 2% 2% 2% 4%;
}

#demographic-chart td{
  padding: 1%;
  border: 5px solid white;
}

#demographic-chart td.heading{
  color: white;
  width: 40%;
  padding: 0% 5% 5% 10%;
}

#demographic-chart td.heading h4{
  font-size: 130%;
}

#demographic-chart td.heading p{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 60%;
}

#demographic-chart tr.year td.y2012{
  background-color: rgb(221,222,220);
  color: rgb(110,110,112);
  font-size: 110%;
  text-align: center;
}

#demographic-chart tr.year td.y2015{
  background-color: rgb(242, 242, 242);
  color: rgb(110,110,112);
  font-size: 110%;
  text-align: center;
}

#demographic-chart tr.demographics{
  background-color: rgb(0, 116,108);
}

#demographic-chart tr.demographics td.y2012{
  background-color: rgb(223, 238, 236);
}

#demographic-chart tr.demographics td.y2015{
  background-color: rgb(242, 248, 248);
}

#demographic-chart tr.economy{
  background-color: rgb(158, 167, 113);
}

#demographic-chart tr.economy td.y2012{
  background-color: rgb(235, 236, 225);
}

#demographic-chart tr.economy td.y2015{
  background-color: rgb(250, 251, 248);
}

#demographic-chart tr.politics{
  background-color: rgb(169, 59, 65);
}

#demographic-chart tr.politics td.y2012{
  background-color: rgb(240, 220, 221);
}

#demographic-chart tr.politics td.y2015{
  background-color: rgb(251, 245, 245);
}

/* -- SLIDE 3 -- */
.degree-gap em{
  color: rgb(167,62,63);
}

#slide-3-story-of-degree-gap h3{
  color: rgb(167,62,63);
  font-size: 220%;
}

#slide-3-degrees-needed-graph{
  float: right;
  width: 66%;
  /*width: 22.8rem;*/
  height: 50%;
  margin-right: 1.3%;
}

#degree-deficit-counter{
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(199,165,28);
  display: inline-block;
  width: 33%;
  padding: 1.3%;
  float:right;
  margin-right: 3%;
}

#degree-deficit-counter h4{
  color: white;
  font-size: 115%;
  margin:0 0 2% 0;
  padding: 0;
}

#degree-deficit-counter .counter{
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid grey;
}

#degree-deficit-counter .counter span{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  flex-grow: 1;
  font-weight: bolder;
  color: rgb(110,110,112);
  font-size: 140%;
  padding-top: 4%;
  padding-bottom: 4%;
}

#degree-deficit-counter .description{
  background-color: white;
  margin-top: 2%;
  font-size: 70%;
  padding: 2%;
  color: rgb(199,165,28);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

#degree-deficit-counter em {
  color: rgb(167,62,63);
}

#slide-3-story-of-degree-gap .highlight{
  width: 30%;
}

#slide-3-degrees-needed-graph .c3-xgrid-focus {
  stroke-width: 3px;
  stroke: rgb(199,165,28);
}

/* -- SLIDE 4 -- */
.bachelors-degrees .view-more{
  color: rgb(199,165,28);
}
.bachelors-degrees .view-more::after{
  background: url('../img/down_arrow_sprite.png') -60px 0px no-repeat;
}

#slide-4-bachelors-degree h3{
  margin-top: 20%;
  font-size: 500%;
}

/* -- SLIDE 5 -- */

section.bachelors-degrees em{
  color: rgb(199,165,28);
}

#slide-5-what-fields-have-these-degrees-been-in h3{
  font-size: 230%;
  margin-left: 4%;
  margin-bottom: 0;
}

#slide-5-what-fields-have-these-degrees-been-in .highlight{
  margin-top: 0;
}

/* -- Conclusion --*/
section.conclusion h3{
  color: rgb(182,89,30);
  font-size: 280%;
  width: 60%;
  margin-left: 3%;
}

#slide-conclusion-action{
  box-shadow: 0px 2px 10px grey;
}

#slide-conclusion-action a{
  color: rgb(110,110,112);
}

#slide-conclusion-action h3.california-competes{
  color: red;
  font-size: 100%;
  font-family: serif;
  margin-top: 5%;
}

#slide-conclusion-action h3.california-competes span{
  display: block;
}

#slide-conclusion-action h3.california-competes span.brand{
  font-size: 250%;
}

#slide-conclusion-action h3.california-competes span.tagline{
  font-size: 150%;
}

/* = */

#call-to-action{
  background-color: #6E6E70;
  display: inline-block;
  width: 60%;
  margin-left: 3%;
}

#call-to-action p{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#call-to-action a{
  color: white;
}

#side-action {
  position: relative;
  float: right;
  right: 3%;
  margin: 0px;
  width: 25%;
  margin-left: 10%;
  font-family: 'EB Garamond', serif;
}

#side-action .download-report {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: center;
  display: block;
}

#side-action .download-report::before{
  /* Empty content, but required for pseudo element to display */
  content: "";
  display: block;
  margin: 10% auto 3% auto;

  /* Size of star within sprite */
  width: 30px !important;
  height: 40px  !important;
  /* Sprite */
  background: url('../img/down_arrow_sprite.png') -0px 0px no-repeat;

}

#side-action img.report-cover{
  width: 100%;
  box-shadow: 0px 2px 10px grey;
}

#side-action .contact{
  margin-top: 10%;
  padding-bottom: 10%;
}

/* = */

#slide-conclusion-the-council .council-members{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 3%;
  margin-right: 3%;
}

#slide-conclusion-the-council .council-members dl{
  flex-basis: 30%;
}

#slide-conclusion-the-council .council-members dt{
  font-family: 'Montserrat', sans-serif;
  color: rgb(110,110,112);
}

#slide-conclusion-the-council .council-members dd{
  font-family: 'EB Garamond', serif;
  font-style: italic;
  color: rgb(110,110,112);
  margin-left: 0px;
}

/*
-- Utilitiy classes --
*/

.highlight{
  color: rgb(110,110,112);
  font-family: 'Montserrat', sans-serif;
  font-size: 180%;
}

.contact p{
  font-size: 68%;
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
  margin: 0;
  font-weight: bold;
}

.hidden{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.slide.short{
  height: auto;
}

.font-1_5x{
  font-size: 150%;
}

.font-2x{
  font-size: 200%;
}

.font-4x{
  font-size: 400%;
}

.center{
  text-align: center;
}

.justify{
  text-align: justify;
}

.shadow{
  /*box-shadow: 0px 2px 10px grey;*/
}

.tight-center{
  margin: auto;
  width: 60%;
}

.california{
  background-repeat: no-repeat;
  background-image: url('../img/california.png');
  background-position: 50% 40%;
  background-size: 55%;
}

.state-grad{
  background-repeat: no-repeat;
  background-image: url('../img/state_grad.png');
  background-position: 50% 22%;
  background-size: 14%;
}

.left{
  float:left;
}

.right{
  float: right;
}
