@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|EB+Garamond);

/*
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}
*/

h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}

/*
introduction blue-normal: rgb(55,117,140)
gap-overview red-normal: rgb(167,62,63)
gap-overview red-light: #BF6D70
bachalor-degrees yellow-normal: rgb(199,165,28)
bachalor-degrees yellow-light: #DAC476
sub-baccalaureate green-dark: rgb(159,167,107)
sub-baccalaureate green-light: #B6BD94
conclusion grey-normal: rgb(110,110,112)
*/

html{
  font-size: 1vw;
  background-color: #DEDEDE;
  font-family: 'EB Garamond', serif;
}

p{
  font-family: 'EB Garamond', serif;
  color:rgb(110,110,112);
}

section.slide{
  width: 50vw;
  height: 37.5vw;
  background-color: white;
  margin: 3rem auto;
  overflow: hidden;
  border: 1px solid rgb(173, 173, 173);
}

section h2{
  margin-top: 0;
  font-size: 1rem;
  padding: .6rem;
  color: white;
}

#cover{
  background-color: rgb(55,117,140);
  background-image: url('../img/cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 2rem solid rgb(167,62,63);
}

#cover h2{
  font-size: 2.45rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
  margin-top: 16%;
}

#cover h3{
  color:white;
  width: 50%;
  font-size: 1.4rem;
  margin: auto auto;
  text-align: center;
}

#cover p{
  border-top: .2rem solid white;
  font-family: 'Montserrat', sans-serif;  width: 33%;
  padding-top: 1.5rem;
  margin: 1.5rem auto;
  text-align: justify;
  color: white;
}

#table-of-contents ol{
  list-style: none;
  margin:0;
  padding: 0;
  color: white;
}

#table-of-contents > ol > li > ol > li{ /*needs to be done better*/
  padding: .2rem;
}

#table-of-contents ol.introduction li, section.introduction h2{
  background-color: rgb(55,117,140);
}

section.introduction h3{
  color: rgb(55,117,140);
}

#table-of-contents ol.degree-gap li, section.degree-gap h2{
  background-color: rgb(167,62,63);
}

section.degree-gap h3{
  color: rgb(167,62,63);
}

#table-of-contents ol.bachelors-degrees li, section.bachelors-degrees h2{
  background-color: rgb(199,165,28);
}

section.bachelors-degrees h3{
  color: rgb(199,165,28);
}

#table-of-contents ol.sub-baccalaureate li, section.sub-baccalaureate h2{
  background-color: rgb(159,167,107);
}

section.sub-baccalaureate h3{
  color: rgb(159,167,107);
}

#table-of-contents ol.conclusion li, section.conclusion h2{
  background-color: rgb(110,110,112);
}

section.conclusion h3{
  color: rgb(110,110,112);
}

.highlight{
  color: rgb(110,110,112);
  font-family: 'Montserrat', sans-serif;
}

.contact p{
  font-size: 68%;
  font-family: sans-serif;
  line-height: normal;
  margin: 0;
  font-weight: bold;
}

/*
-- Utilitiy classes --
*/
.hidden{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.slide.short{
  height: auto;
}

.view-more{
  width: 33%;
  padding-top: 1rem;
  font-size: .75rem;
  text-align: center;
  color: white;
  margin: auto auto;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  /*This needs a downard arrow*/
}

.font-1_5x{
  font-size: 120%;
}

.font-2x{
  font-size: 200%;
}

.font-4x{
  font-size: 400%;
}

.center{
  text-align: center;
}

.justify{
  text-align: justify;
}

.shadow{
  /*box-shadow: 0px 2px 10px grey;*/
}

.tight-center{
  margin: auto;
  width: 60%;
}
