html{
  font-size: 1vw;
}

h1{
  font-size: 2.75rem;
}

h2{
  font-size: 2.125rem;
}

section.slide{
  width: 50vw;
  height: 37.5vw;
  background-color: rgba(193, 189, 146, 0.5);
  margin: auto auto;
}
